/* over ride browser default */
html,
body {
    margin: 0;
    padding: 0;
}

/* use view port relative height to cover page fully */
body {
    height: 100vh;
    width: 100vw;
}

/* include border and padding in element width & height */
* {
    box-sizing: border-box;
}

/* full sized container that fills up the page */
div.wrapper {
    height: 100%;
    width: 100%;
    background-image: url("./Images/pencils-1280558_960_720.jpg");
    background-size: cover;
    display: flex;
}

div.container {
    background-color: transparent;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin: 65px auto;
    border: 10px solid #fffaf0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#display {
    width: 93%;
    height: 15%;
    background-color: antiquewhite;
    border-radius: 10px;
}

#content {
    width: 95%;
    height: 75%;
    background-color: transparent;
}

div.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.card-item {
    height: 95%;
    background-color: inherit ;
}

#digits {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
}

#signs,
#navigation {
    width: 15%;
}

#signs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
}

button.numbers {
    width: 20%;
    height: 15%;
    box-shadow: 6px 3px 5px black;
    background-color: crimson;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
    font-size: xx-large;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button.arithmatic {
    padding: 15px;
    border-radius: 50%;
    border: none;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: orangered;
    color: floralwhite;
}