/* mini css-reset */
html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* mini css-reset ends */

/* my style begins here */
div.container {
    height: 100vh;
    width: 100vw;
    background-color: gainsboro;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./Images/wood-bg.jpg");
    background-size: cover;
}

div.calculator {
    height: 475px;
    width: 260px;
    border-radius: 10px;
    padding-top: 35px;
    background-color: #1b1b1c;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.display-div {
    height: 75px;
    width: 95%;
    border-radius: 5px;
    /* border: 2px solid red; */

    box-shadow: inset 2.3px 2.3px black, inset -2.3px -2.3px black;
}

div.button-div {
    height: 310px;
    width: 95%;
    background-color: white;

    display: flex;
    align-items: center;
}

.group-1 {
    width: 75%;
    height: 100%;
    background-color: blue;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    --button-width: calc((100% - 10px) / 3);
}

.group-2 {
    width: 25%;
    height: 100%;
    background-color: orange;
    border: 1px solid green;

    display: flex;
    flex-wrap: wrap;
}

button {
    height: calc((100% - 20px) / 5);
    width: var(--button-width);
    border: 1px solid red;
}

button#decimal {
    width: calc(100% - var(--button-width) - 5px);
}

div.tag-line {
    height: 15px;
    width: 70%;
    background-color: white;
}

/* my style ends here */