/* over ride browser default */
html,
body {
    margin: 0;
    padding: 0;
}

/* use view port relative height to cover page fully */
body {
    height: 100vh;
    width: 100vw;
}

/* include border and padding in element width & height */
* {
    box-sizing: border-box;
}

/* full sized container that fills up the page */
div.wrapper {
    height: 100%;
    width: 100%;
    background-image: url("./Images/pencils-1280558_960_720.jpg");
    background-size: cover;
    display: flex;
}

div.container {
    background-color: blue;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin: 65px auto;
    border: 10px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#display {
    width: 93%;
    height: 15%;
    background-color: antiquewhite;
    border-radius: 10px;
}

#content {
    width: 95%;
    height: 75%;
    background-color: springgreen;
}

div.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.card-item {
    width: 25%;
    height: 90%;
    background-color:blanchedalmond ;
} 